@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/LvrFOyQ.gif');
    --home-image: url('https://i.makeagif.com/media/8-29-2022/SGjn_X.gif');
    --background-solid: #3533b300;
    --background-solid-dark: #00000000;
    --background-solid-darker: #0c080834;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
